@model QuickFood.Models.client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nom prenom Client
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_pre_client)
        </dd>

        <dt>
            Telephone Client
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_client)
        </dd>

        <dt>
            Adresse Client
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adr_cl)
        </dd>

        <dt>
            Email Client
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_cl)
        </dd>

        <dt>
            Date Naissance Client
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_nai_cl)
        </dd>

        <dt>
            Sexe Client
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexe_cl)
        </dd>

        <dt>
            Ville Client
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ville.nom_ville)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.idclient }) |
    @Html.ActionLink("RETOUR À LA LISTE", "Index")
</p>
